In [5]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz

In [36]:
stats = pd.read_csv("./data/yearly_stats_ipl.csv")

In [37]:
stats.head()

,POS,PLAYER,Pts,Mat,Wkts,Dots,4s,6s,Catches,Stumpings,team_name,nationality,year
0,1,ShaneWatson,406.5,15,17,158,47,19,2,0,RR,Overseas,2008
1,2,SanathJayasuriya,308.5,14,4,36,58,31,2,0,MI,Overseas,2008
2,3,YusufPathan,290.5,16,8,60,43,25,3,0,RR,Indian,2008
3,4,AlbieMorkel,261.0,13,17,100,18,14,3,0,CSK,Overseas,2008
4,5,IrfanPathan,259.0,14,15,153,9,6,4,0,KXIP,Indian,2008

In [38]:
ipl_auction_list = pd.read_excel("./data/IplAuctionPlayersList.xlsx", sheet_name="Sheet1")

In [39]:
official_players = ipl_auction_list["PLAYER NAME"]

In [64]:
### Looks like the initials are causing an issue. Hence, we are throwing away the initials

In [65]:
# vaas has 5 letter initial. Lets handle his case separately.
new_official = [player if len(player.split(" ")[0]) > 3 else " ".join(player.split(" ")[1:]) for player in official_players]

### Match names from the other list - Based on Levenshtein Distance

In [145]:
def search_word(queryName, threshold):
    ratios = [fuzz.partial_ratio(player, queryName) for player in new_official]
    if max(ratios) < threshold:
        return "NA"
    return official_players[ratios.index(max(ratios))]

In [146]:
stats["matched_player"] = stats["PLAYER"].apply(lambda x: search_word(x, 70))

### Fix partial match threshold until we have only the names represented in IPL Auction list.
1. 70 seems a good number to start with
2. Length of Non- NA players need to be same as the official players length.

In [147]:
matched_players = stats[stats.matched_player!="NA"]["matched_player"].unique()

In [148]:
remaining_players = set(official_players).difference(set(matched_players))

### Lets write it back to the file. And fix the rest manually.

In [149]:
matched = stats.drop_duplicates(["matched_player"]).reset_index(drop=False)[["PLAYER", "matched_player"]]

In [150]:
merged = pd.merge(ipl_auction_list, matched, how='left', left_on='PLAYER NAME', right_on='matched_player')

In [153]:
matched.shape

(195, 2)

In [152]:
merged.to_csv("./data/partial_cleaned_ipl.csv", index=False)

### After Manual Cleaning a bit

In [254]:
manual_cleaned_names = pd.read_csv("./data/manual_cleaned_ipl.csv")[["PLAYER NAME", "PLAYER"]]

In [255]:
merged_stats = pd.merge(stats, manual_cleaned_names, on="PLAYER", how="inner")

In [256]:
merged_stats.columns

Index(['POS', 'PLAYER', 'Pts', 'Mat', 'Wkts', 'Dots', '4s', '6s', 'Catches',
       'Stumpings', 'team_name', 'nationality', 'year', 'matched_player',
       'PLAYER NAME'],
      dtype='object')

### Got the player roles

In [257]:
player_roles = pd.read_excel("./data/IPLPLayerRoles.xlsx", sheet_name="Sheet1")

In [258]:
merged_stats = pd.merge(merged_stats, player_roles, on="PLAYER NAME", how="inner")

In [259]:
merged_stats.columns

Index(['POS', 'PLAYER', 'Pts', 'Mat', 'Wkts', 'Dots', '4s', '6s', 'Catches',
       'Stumpings', 'team_name', 'nationality', 'year', 'matched_player',
       'PLAYER NAME', 'ROLE'],
      dtype='object')

In [260]:
### Renaming columns 
merged_stats.columns = ['year_position', 'player_name', 'year_points', 'matches', 'num_wkts', 'num_dots', 
                 'num_fours', 'num_six', 'num_catches', 'num_stumpings', 'team_name', 'overseas_or_indian',
                 'ipl_year', 'remove_col1', 'remove_col2', 'position']

In [261]:
cols_to_select = [col for col in merged_stats.columns if "remove" not in col]

In [262]:
merged_stats[cols_to_select].to_csv("./data/names-cleaned-stats.csv", index=False)